header {
  height: 250px;
  display: flex;
}

section {
  margin-top: 50px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: relative;
}

section div {
  width: 250px;
  height: 250px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, .3);
  background: url(./avater.jpg) no-repeat -35px 0px;
  background-size: cover;
  background-clip: border-box;
  background-origin: border-box;
  position: absolute;
  left: 0px;
  transform: scale(1);
  transition: 0.25s transform, 0.25s 0.25s left, 0.25s 0.25s opacity;
  opacity: 0.5;
}

section span {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 10px solid rgba(255, 255, 255, .3);
  background: url(./2.png) no-repeat -155px 0px;
  background-size: cover;
  background-clip: border-box;
  background-origin: border-box;
  position: absolute;
  left: 250px;
  top: 0;
  transform: scale(0.5);
  transition: 0.25s 0.25s left, 0.25s 0.5s transform, 0.25s 0.25s opacity;
  opacity: 0;
  pointer-events: none;
}

section span p {
  width: 120px;
  position: absolute;
  left: calc(50% - 60px);
  bottom: 20px;
}

section:hover div {
  transform: scale(0.5);
  left: -250px;
  opacity: 0;
}

section:hover span {
  left: 0;
  transform: scale(1);
  opacity: 0.5;
}

header article {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 30px;
  align-items: center;
  justify-content: space-around;
}

header article picture {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header article picture img {
  width: 96px;
  height: 54px;
}

header article picture img:hover {
  box-shadow: 9px 9px 33px #0460c9, -9px -9px 33px #01abd5;
  transform: translateY(-2px);
}

header article picture p {
  flex: 1;
}


header article>div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 50px;
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  z-index: 1;
  background: transparent;
  text-align: center;
  font-weight: 1000;
  font-size: 24px;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.71);
  transition: all 250ms;
  overflow: hidden;
  cursor: pointer;
}

header article>div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-image: -webkit-linear-gradient(right, #30077ae4, #0fa4ef);
  z-index: -1;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.71);
  transition: all 250ms
}

header article>div:hover {
  color: #e8e8e8;
}

header article>div:hover::before {
  width: 100%;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

form input {
  text-indent: 2em;
  width: 500px;
  height: 50px;
  line-height: 28px;
  border: 2px solid transparent;
  border-bottom-color: #777;
  padding: .2rem 0;
  outline: none;
  background-color: transparent;
  color: #0d0c22;
  transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

form input:focus,
input:hover {
  outline: none;
  padding: .2rem 1rem;
  border-radius: 1rem;
  border-color: #7a9cc6;
}

form input::placeholder {
  color: #777;
}

form input:focus::placeholder {
  opacity: 0;
  transition: opacity .3s;
}

form input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  position: relative;
  right: 15px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: url("1.png") no-repeat center;
  background-size: 100% 100%;
  color: rgba(0, 0, 0, 0);
}

form input[type=search]::-ms-clear {
  appearance: none;
  position: relative;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: url("1.png") no-repeat center;
  background-size: 100% 100%;
  color: rgba(0, 0, 0, 0);
}

nav>ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav>ul>li {
  position:relative;
}
nav>ul>li>a {
  position: relative;
  text-transform: uppercase;
  padding: 1em 2.5em;
  display: inline-block;
  border-radius: 6em;
  transition: all .2s;
  border: none;
  font-weight: 500;
  color: black;
  cursor: pointer;
}

nav>ul>li>a:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

nav>ul>li>a:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

nav>ul>li>a::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
  background-color: rgba(74, 64, 152, 0.404);
}

nav>ul>li>a:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

nav ul li div {
 position:absolute;
 top:70px;
 left:calc( 50% -  40px);
  display: none;
}